[Unit]
Description=Recording/Emulation with SHEPHERD

[Service]
ExecStart=/usr/bin/shepherd-sheep -vv run --config /etc/shepherd/config.yml
Restart=no