[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
twine = "*"
bump2version = "*"

[packages]
shepherd-herd = {editable = true,path = "./software/shepherd-herd"}
sphinx = "*"
ansible = "*"
sphinx-click = "*"

[pipenv]
allow_prereleases = true
