Source: shepherd-kernel-dkms
Maintainer: Kai Geissdoerfer <kai.geissdoerfer@tu-dresden.de>
Build-Depends: debhelper (>= 11), dkms

Package: shepherd-kernel-dkms
Architecture: all
Depends: ${misc:Depends}
Description: DKMS source for the shepherd kernel driver
