Source: shepherd-firmware
Maintainer: Kai Geissdoerfer <kai.geissdoerfer@tu-dresden.de>
Build-Depends: debhelper (>=11)
Homepage: <https://github.com/geissdoerfer/shepherd>

Package: shepherd-firmware
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: SHEPHERD device tree overlay