[Unit]
Description=Recording/Emulation with SHEPHERD
StartLimitInterval=200
StartLimitBurst=5

[Service]
ExecStart=/usr/local/bin/shepherd-sheep -vv run --config /etc/shepherd/config.yml
Restart=on-failure
