[Unit]
Description=Enable GALILEO on ublox GPS device
After=gpsd.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/ubxtool -e GALILEO

[Install]
WantedBy=multi-user.target
