[Unit]
Description=Upload config file to ublox GPS

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ubx-serial -vvv -p /dev/ttyO2 -c /etc/shepherd/ublox_config.ubx

[Install]
WantedBy=multi-user.target
